body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
p {
  margin: 0px;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 0.3rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 1rem;
}
.border-0 {
  border: 0px;
}
.bg-transparent {
  background: transparent;
}
.p-0 {
  padding: 0px;
}

nav {
  height: 64px;
  background: #672467;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav .slider-container {
 width: 100%;
 margin: 0px auto;
}
nav .star-icons {
  display: flex;
  gap: 5px;
}
nav .text-sm {
  font-family: "Neuzeit Grotesk";
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin: 0px;
}
nav .btn-arrow {
  color: #6677aa;
  background: transparent;
  border: 0px;
  padding: 0px;
}
nav .star-icon {
  color: gold;
  font-size: 20px;
}
main {
  padding: 30px 0px;
}
.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.col {
  flex: 1 0 0%;
}

.bread-crumbs {
  display: flex;
  align-items: center;
  gap: 20px;
}
.bread-crumbs a {
  display: flex;
  gap: 20px;
  font-family: "Neuzeit Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #001c7266;
}
.bread-crumbs a.active {
  color: #672467;
  font-size: 700;
}
.banner {
  width: 100%;
}
.card {
  padding: 25px;
  border-radius: 8px;
  background: #ffffff01;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 0px 24px 0px #00000029;
}

.radio-lg {
  margin: 0px;
  width: 28px;
  height: 28px;
}
.purchase-option .text-md {
  font-family: "Neuzeit Grotesk";
  font-size: 20px;
  font-weight: 700;
  color: #672467;
}
.purchase-option .text-md-2 {
  font-family: "Neuzeit Grotesk";
  font-size: 20px;
  font-weight: 700;
  color: #185c01;
}
.purchase-option .text-sm {
  font-family: "Neuzeit Grotesk";
  font-size: 16px;
  font-weight: 400;
  color: #672467;
}
.purchase-option .text-sm-italic {
  font-family: "Utopia Std";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  color: #672467;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #6c2a82;
  margin: 0;
}

.payment-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.payment-logos img {
  max-height: 35px;
}

.secure-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #6c2a82;
}

.lock-icon {
  margin-right: 8px;
  font-size: 18px;
  color: #6c2a82;
}

.secure-text {
  color: #6c2a82;
  font-weight: bold;
}

.delivery-info {
  color: #43a047;
  font-size: 14px;
  margin-bottom: 20px;
}

.collapsible-section {
  margin-bottom: 15px;
}

.collapsible {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: 0px;
  text-align: left;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
  transition: background-color 0.3s;
}

.collapsible:hover {
  background-color: #f9f9f9;
}

.collapsible:after {
  content: "\25BC";
  font-size: 14px;
  color: #666;
  position: absolute;
  right: 20px;
  transition: transform 0.3s ease;
}

.collapsible.active:after {
  transform: rotate(180deg);
}

.content {
  padding: 0 15px;
  display: none;
  overflow: hidden;
  background-color: #f9f9f9;
  margin-top: 10px;
  border-left: 2px solid #6200ee;
}

.content p {
  padding: 15px 0;
  margin: 0;
  font-size: 14px;
  color: #555;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  nav .slider-container {
    width: 70%;
   }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  nav .slider-container {
    width: 70%;
   }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  nav .slider-container {
    width: 60%;
   }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  nav .slider-container {
    width: 50%;
   }
}
